.rhap_time {
    color: white;
}

.rhap_repeat-button{
    color: white;
}

.rhap_repeat-button{
    color: white;
}

.rhap_main-controls-button{
    color: white;
}

.rhap_volume-button{
    color: white;
}